<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tamarack Explorer</title>
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.1.1/lumen/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/tamarack.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Tamarack Explorer</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown" id="date-dropdown-button">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="timeslice-nav"></a>
            <div class="dropdown-menu" id="date-dropdown">
              <ul class="nav nav-pills nav-justified">
                <li class="active"><a href="#up-to-now-tab" data-toggle="tab">Up to now</a></li>
                <li><a href="#date-range-tab" data-toggle="tab">Date range</a></li>
              </ul>

              <div class="tab-content">
                <div class="tab-pane active" id="up-to-now-tab"></div>
                <div class="tab-pane" id="date-range-tab"></div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="row" id="breadcrumb">
      </div>
    </div>

    <div class="container" id="main-content">
    </div>

    <div class="container">
      <div id="debug-container"></div>
    </div>

{% if config.JS_DEBUG %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.10.0/react.js"></script>
    <script src="/static/js/goog/base.js" type="text/javascript"></script>
    <script src="/static/js/tamarack-main.js" type="text/javascript"></script>
    <script type="text/javascript">
      goog.require("tamarack.core");
    </script>
{% else %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <script src="/static/js-min/tamarack-main.js" type="text/javascript"></script>
{% endif %}

    <script type="text/javascript">
      $(function() {tamarack.core.main();});
    </script>
  </body>
</html>
