#date-dropdown {
	width: 520px;
	padding: 10px;
}

#date-dropdown .nav {
	padding: 5px 5px 15px;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator{
    display:inline-block;
    margin-top:2%;
    float:right;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-inner-spin-button{
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
}

.num-col {
	text-align: right;
}

/* Fix for strange looking .active list groups element when the list
   group is embedded in a .panel. */
.panel > .list-group .list-group-item.active {
	margin-left: -1px;
	margin-right: -1px;
}

.list-group-item.heading {
	text-transform: uppercase;
	color: #777;
	font-size: 12px;
	padding-top: 24px;
	padding-bottom: 8px;
}
